<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="False" />
  <param
    name="robot_description"
    textfile="$(find srs-77dof)/urdf/srs-77dof.urdf" />

  <param
    name="use_gui"
    value="$(arg gui)" />
  <!--node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" /-->
  <node
    name="j_state_pub"
    pkg="j_state_pub"
    type="j_state_pub_node" 
    args="192.168.0.201 17362" 
    output="screen" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find srs-77dof)/urdf.rviz" />
</launch>
